# Игнорирование папки venv
venv/

# Игнорирование папки Cache
Cache/

# Игнорирование всех папок и подпапок __pycache__
**/__pycache__

# Игнорирование всех папок и подпапок .pytest_cache
**/.pytest_cache
